<!--  on commence le fichier HTML par la balise HTML -->
<html>
    <!-- on donne le body avec le nom de la directive appCss -->
    <body appCss>
        <!-- on créer une div container -->
        <div class="container">
            <div class="header">
                <div class="logo">
                    <img src="assets/newlogo.png" style="width: 75px">
                    <div class="emoji">🌊</div>
                </div>
                <div class="titles">
                    <h1 class="name">Mathis Zerari</h1>
                    <p class="status">Development Engineer in France</p>
                </div>
            </div>

            <div class="row">
                <p class="subtitle">Contact</p>
                <!-- dans un row on boucle avec ngFor qui boucle sur des éléments HTML, ici pour chaque réseaux présent 
                    dans le tableau social et la classe correspond aux dimensions que prendront chaque div : lorsque la taille de l'écran
                    sera moyen ce sera 3/12 et pour un petit de 10 (pour prendre toute la rangée)-->
                <div *ngFor="let socialmedia of social" [ngClass]="socialmedia.media | lowercase"  class="col m3 s12 div">
                    <span>
                        <!-- ici on place dans un h4 la valeur contenue dans la mock au champ media -->
                        <p class="text-quarternary">{{ socialmedia.media }}</p>
                        <!-- on place dans un a le liens présent dans la mock au champ link, que l'on ouvrira dans un nouvel onglet au click
                        on place le arobase entre les balises et le link en href -->
                        <a href="{{ socialmedia.link }}" target="_blank">{{ socialmedia.arobase }}
                            <svg class=" inline-block h-3 w-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </span>
                </div>

                
            </div>
            <div class="aboutme" id="test">
                <p class="subtitle">About me</p>
                <p>Je suis né en France en 2003 autour de Paris, 
                    depuis 2020 je code des sites web et 
                    j'apprends de nouvelles technologies</p>
            </div>

            <nav class="navigation">
                <div class="navbar" #navbar>
                    <ng-container *ngIf="(!un && !deux && !trois) || keyesc">
                        <button class="more" #morebtn>+</button>
                    </ng-container>
                    <ng-container *ngIf="un && !keyesc">
                        <button class="more" #morebtn>+</button>
                        <button class="home" #homebtn style="height: 2rem">home</button>
                        <button class="dark" #darkbtn>dark</button>
                        <button class="plume" #plumebtn>plume</button>
                    </ng-container>
                    <ng-container *ngIf="deux && !keyesc">
                        <button class="more" #morebtn>+</button>
                        <button class="home" #homebtn>home</button>
                        <button class="dark" #darkbtn style="height: 2rem">dark</button>
                        <button class="plume" #plumebtn>plume</button>
                    </ng-container>
                    <ng-container *ngIf="trois && !keyesc">
                        <button class="more" #morebtn>+</button>
                        <button class="home" #homebtn>home</button>
                        <button class="dark" #darkbtn>dark</button>
                        <button class="plume" #plumebtn style="height: 2rem">plume</button>
                    </ng-container>
                </div>
            </nav>
        </div>
    </body>
</html>
  