<div class="row">
    <p class="subtitle1">Contact</p>
    <!-- dans un row on boucle avec ngFor qui boucle sur des éléments HTML, ici pour chaque réseaux présent 
        dans le tableau social et la classe correspond aux dimensions que prendront chaque div : lorsque la taille de l'écran
        sera moyen ce sera 3/12 et pour un petit de 10 (pour prendre toute la rangée)-->
    <div *ngFor="let socialmedia of social" [ngClass]="socialmedia.media | lowercase"  class="col m7 s12 l3 div">
        <span>
            <!-- ici on place dans un h4 la valeur contenue dans la mock au champ media -->
            <p class="text-quarternary">{{ socialmedia.media }}</p>
            <!-- on place dans un a le liens présent dans la mock au champ link, que l'on ouvrira dans un nouvel onglet au click
            on place le arobase entre les balises et le link en href -->
            <a href="{{ socialmedia.link }}" target="_blank">{{ socialmedia.arobase }}
                <svg class=" inline-block h-3 w-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
        </span>
    </div>
</div>

<div class="aboutme" id="test">
    <p class="subtitle2">About me</p>
    <p>Develop applications that combine aesthetics, minimalism and user experience. Concerned with developing tools at the crossroads of design and engineering, creating intuitive and pleasant interfaces.
        I am based in Paris and developing projects that make sense to me. <br><br>
        
        I am currently studying computer science and I am passionate about reading, writing, productivity and constant learning. I am currently interested in Javascript technologies and experimenting with native applications with Swift. I am also able to generate new experiences with Figma, which allows me to create user interfaces.
    </p>
</div>


<footer class="text-quaternary border-gray-200pb-24 mx-auto max-w-2xl border-t border-dashed py-12 pt-4 text-sm dark:border-gray-700 dark:text-gray-600 m7 s12">
    <span class="footer">© Mathis Zerari 2023. Website built using Angular.js 
        <a href="https://github.com/mathiszerari/Portfolio.git" rel="noopener noreferrer" target="_blank" 
        style="font-size: .875rem;"> (view source)</a><br>
        Inspired by Cristian Crețu
    </span>
</footer>