<div class="row">
    <p class="subtitle">Contact</p>
    <!-- dans un row on boucle avec ngFor qui boucle sur des éléments HTML, ici pour chaque réseaux présent 
        dans le tableau social et la classe correspond aux dimensions que prendront chaque div : lorsque la taille de l'écran
        sera moyen ce sera 3/12 et pour un petit de 10 (pour prendre toute la rangée)-->
    <div *ngFor="let socialmedia of social" [ngClass]="socialmedia.media | lowercase"  class="col m7 s12 l3 div">
        <span>
            <!-- ici on place dans un h4 la valeur contenue dans la mock au champ media -->
            <p class="text-quarternary">{{ socialmedia.media }}</p>
            <!-- on place dans un a le liens présent dans la mock au champ link, que l'on ouvrira dans un nouvel onglet au click
            on place le arobase entre les balises et le link en href -->
            <a href="{{ socialmedia.link }}" target="_blank">{{ socialmedia.arobase }}
                <svg class=" inline-block h-3 w-3" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
        </span>
    </div>
</div>

<div class="aboutme" id="test">
    <p class="subtitle">About me</p>
    <p>Je suis né en France en 2003 autour de Paris, 
        depuis 2020 je code des sites web et 
        j'apprends de nouvelles technologies</p>
</div>
